aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.5.2
amqp==2.6.1
aniso8601==8.0.0
asgiref==3.3.1
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.4.0
billiard==3.6.3.0
bitcoin==1.1.39
blinker==1.4
blockcypher==1.0.90
boto3==1.16.61
botocore==1.19.61
celery==4.4.7
certifi==2020.12.5
chardet==3.0.4
charset-normalizer==2.0.9
click==7.1.2
crypto==1.4.1
Django==3.1.6
dnspython==2.1.0
email-validator==1.1.2
eth-hash==0.3.2
eth-typing==2.2.2
Flask==1.1.2
Flask-Admin==1.5.7
Flask-Celery==2.4.3
Flask-CKEditor==0.4.6
Flask-Cors==3.0.10
Flask-Humanize==0.3.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-marshmallow==0.13.0
Flask-Migrate==2.1.0
flask-paginate==0.8.1
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SocketIO==4.3.1
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
frozenlist==1.2.0
geoip2==4.5.0
humanize==3.2.0
idna==2.10
is-safe-url==1.0
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
kombu==4.6.11
Mako==1.1.4
MarkupSafe==2.0.1
marshmallow==3.7.1
marshmallow-sqlalchemy==0.24.1
maxminddb==2.2.0
MouseInfo==0.1.3
multidict==5.2.0
mysqlclient
Naked==0.1.31
passlib==1.7.2
Pillow==8.2.0
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
PyMsgBox==1.0.9
PyMySQL==1.0.2
pypaystack
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
python-dotenv==0.17.1
python-editor==1.0.4
python-engineio==3.13.2
python-socketio==4.6.0
PyTweening==1.0.3
pytz==2020.1
PyYAML==6.0
redis==3.5.3
requests==2.24.0
requests-html==0.10.0
s3transfer==0.3.4
shellescape==3.8.1
six==1.15.0
SQLAlchemy==1.3.19
sqlparse==0.4.1
toolz==0.11.1
urllib3==1.25.11
uuid==1.30
vine==1.3.0
Werkzeug==2.0.1
WTForms==2.3.3
yarl==1.7.2
