{% extends "./base.html"%}
{% block title %}Blogs{% endblock %}
{% block content%}
<div>    
    {% if current_user.is_admin %}    
        <div class="mt-2">
            <a href="{{url_for('create_blog')}}" class="bg-red-500 float-right text-white px-2 py-1">Create blog</a>
        </div>
    {% endif %}
    <br>
    <br>
    {% for blog in blogs.items %}
        <div class="grid turkey-blog justify-content align-content bg-white p-2 mx-2 my-2">
            {% if blog.image %}
                <div class="flex-shrink">
                    <img src="{{ blog.image }}" class="w-full" alt="{{ blog.title }}">
                </div>
            {% endif %}
            <div class="ml-4">
                <a class="text-2xl mb-4 mt-2 leading-8 font-semibold" target="_blank" href="{{ url_for('blog', id=blog.id, title=blog.slug )}}">{{ blog.title }}</a> 
                <p class="text-gray-700 mt-2"><i>{{ blog.summary }}</i></p>
            </div>
        </div>
    {% else %}
        <div class="flex justify-content align-content bg-white p-2 mx-2 my-2">
            <p class="text-gray-600"><i>Empty, No Blog for now</i></p>
        </div>
    {% endfor %}


    <!-- Pagination Links-->
    <div class="text-right block my-2">
        <a href="{{ url_for('blogs', page=blogs.prev_num) }}"
           class="{% if blogs.page == 1 %} hidden {% else %} border-2 border-red-500 inline-block px-2 py-1 my-2 {% endif %} 
           ">
           <!-- prev -->
            &laquo;
        </a>
    <!-- Loop through the number of pages to display a link for each-->
        {% for page_num in blogs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
    <!-- Check for the active page and set the link to "Active"-->
                {% if blogs.page == page_num %}
                <a href="{{ url_for('blogs', page=page_num) }}"
                   class="bg-red-500 border-2 border-red-500 inline-block text-white px-2 py-1 my-2">
                    {{ page_num }}
                </a>
                {% else %}
                <a href="{{ url_for('blogs', page=page_num) }}"
                   class="border-2 border-red-500 inline-block px-2 py-1 my-2">
                    {{ page_num }}
                </a>
                {% endif %}
            {% else %}
               <span class="mx-1">...</span>
            {% endif %}
        {% endfor %}
        <a href="{{ url_for('blogs', page=blogs.next_num) }}"
           class="{% if blogs.page == blogs.pages %} hidden {% else %} border-2 border-red-500 inline-block px-2 py-1 my-2 {% endif %}">
           <!-- next  -->
           &raquo;
        </a>
    </div>
</div>
{% endblock %}