{% extends "./base.html"%}
<style>
    body{
        background-color: white;
    }
</style>
{% block title %}{{ blog.slug }}{% endblock %}
{% block content %}
<div class="bg-white">
    <div class="mx-2 md:mx-4 lg:mx-8 md:mt-4 p-3 md:p-6 rounded-md bg-white">
        <h1 class="text-black dark:text-white text-3xl font-bold mb-2 md:mb-4">{{ blog.title }}</h1>
        <p class="text-gray-600 text-sm mt-3">{{ blog.summary }}</p>
        
        <!-- For time -->
        {% if blog.is_updated %}
            <!-- <p><i>Updated on{{ blog.datetime.strftime('%d-%m-%Y') }}</i></p> -->
        {% else %}
            <!-- <p><i>Written on {{ blog.datetime.strftime('%d-%m-%Y') }}</i></p> -->
        {% endif %}
        
        {% if current_user.is_admin %}
            <div class="my-3">
                <a href="{{ url_for('edit_blog', id=blog.id) }}" class="bg-gray-500 text-white rounded-lg px-2 py-1"><i class="fa fa-pen"> Edit</i></a>
                <a href="{{ url_for('delete_blog', id=blog.id) }}" class="bg-red-500 text-white rounded-lg px-2 py-1"><i class="fa fa-trash"> Delete</i></a>
            </div>
        {% endif %}
        
        <div class="my-4">
            {% if blog.image %}
                <img src="{{ blog.image }}" style="width: 60%; margin: auto;" alt="{{ blog.title }}">
            {% endif %}
        </div>
    
        <br>
        {{ blog.description|safe }}
        <br>
        {% if read_more %}
            <p class="text-xl font-bold">Read More</p>
            {% for blog in read_more %}
                <div class="grid turkey-blog justify-content align-content bg-white p-2 mx-2 my-2">
                    {% if blog.image %}
                        <div class="flex-shrink">
                            <img src="{{ blog.image }}" class="w-full" alt="{{ blog.title }}">
                        </div>
                    {% endif %}
                    <div class="ml-4">
                        <a class="text-2xl mb-4 mt-2 leading-8 font-semibold" target="_blank" href="{{ url_for('blog', id=blog.id, title=blog.slug )}}">{{ blog.title }}</a> 
                        <p class="text-gray-700 mt-2"><i>{{ blog.summary }}</i></p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}