{% extends "./base.html"%}
{% block head %}{{ ckeditor.load() }}{% endblock %}
{% block title %}Admin tab{% endblock %}

{% block content%}
<div class="bg-gray-200 py-2 h-full sm:px-4 md:px-24 mheight">
    {% if current_user.is_admin %}
       <p class="text-2xl">Welcome, Admin {{ current_user.username }}</p> 
    {% endif %}
    <!-- <form method="post"> -->
    <input class="border-2 placeholder-text-md border-gray-500 rounded-lg md:w-1/3 sm:3/5 mt-2 mb-2 md:py-2 sm:py-1 sm:px-1" type="search" placeholder="Search users" name="user" id="search"><br>
    <button class="bg-gray-500 hover hover:bg-gray-700 shadow-sm:hover text-white p-1 rounded-lg sm:mt-1 md:mt-2 md:py-2 md:px-8 sm:py-2 sm:px-4 sm:text-sm md:text-lg" id="submit">search</button>
    
    <!-- <form method="post" action="/send-mail">
        <input type="text" name="subject" placeholder="E-mail Subject">
        {{ ckeditor.create() }}
        <input type="submit">
    </form> -->
    
    <p id="load"></p>
    <div id="results"></div>
    <br>
    <p>Number of E-mail subscribers: {{ no_emails }}</p>
    <p>Number of sign-ups: {{ no_users }}</p>
    <br>
    <!-- <form action="/mail_users" method="post"> -->
        <input class="border-2 placeholder-text-md border-gray-500 rounded-lg md:w-1/3 sm:3/5 mt-2 mb-2 md:py-2 sm:py-1 sm:px-1" type="text" placeholder="Mail Subjects" id="subject"><br>
        <textarea id="ckeditor" placeholder="Send mail to user(s)", class="rounded-lg bg-white md:w-1/3 sm:3/5 border-2 border-gray-500 md:h-32 sm:h-16 md:py-2 sm:py-2 sm:py-1 sm:px-1" id="" cols="30" rows="5"></textarea><br>
        <!-- {{ ckeditor.create() }} -->
        <br>
        <select  class="md:w-1/3 sm:3/5 md:py-2 sm:py-1 rounded-lg border-2 border-gray-600 md:px-12 sm:px-1 md:my-4 sm:my-1" name="admin" id="user">
            <option value="" >Select who you to send emails</option>
            <option value="all">all</option>
            <option value="email_subscriber">email_subscriber</option>
            {% for user in users %}
                <option value="{{user.email}}">{{user.email}}</option>
        {% endfor %}
        </select><br>
        
        <p id="mail_info" class="text-xl text-red-600 py-3 hidden"></p>
        <button id="send_btn" class="bg-gray-500 hover hover:bg-gray-700 shadow-sm:hover text-white p-1 rounded-lg sm:mt-1 md:mt-2 md:py-2 md:px-8 sm:py-2 sm:px-4 sm:text-sm md:text-lg">Send mail</button>
    <!-- </form> -->
</div>

<script>
    let mailFunc = async () =>{
    let subject = document.getElementById("subject").value
    let user = document.getElementById("user").value
    let mail_info = document.getElementById("mail_info")
    let mail_message = document.getElementById("ckeditor").value
    // let mail_message = document.getElementsByClassName("cke_editable cke_editable_themed cke_contents_ltr cke_show_borders")[0].innerHTML
    
    console.log(mail_message, user, subject)
    
    
    mail_info.innerText = "Loading..."
    mail_info.setAttribute("class", "text-xl text-gray-600 py-3 block")
    if(mail_message && user && subject){
        const send_mail = await fetch('/mail-users', {
            method: 'POST',
            headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
            },
            body: JSON.stringify({user, subject, mail: mail_message})
        });
        const mail_res = await send_mail.json();
        mail_info.innerText = ""
        console.log(mail_res);
        if(mail_res.ok){
            mail_info.innerText = "You have successfully sent the mail(s)"
            mail_info.setAttribute("class", "text-xl text-green-600 py-3 block")
        }   
        else{
            mail_info.innerText = "Ooops! Mail failed"   
            mail_info.setAttribute("class", "text-xl text-red-600 block py-3") 
        }
    }
    else{
        mail_info.innerText = "Do not leave any field empty"
        mail_info.setAttribute("class", "text-xl text-red-600 py-3 block")
    }
}

document.querySelector("#send_btn").addEventListener("click", mailFunc)

let loading = document.getElementById("load")
let submit = document.getElementById("submit")
let results = document.getElementById("results")
submit.addEventListener("click", async () =>{
    let search = document.getElementById("search").value
    if(search){
        if((/\s/).test(search)) return alert(`The user's username must not contain space`)
        loading.innerText = "Loading..."
        let res = await fetch(`/search-admin?q=${search}`)
        
        // submit.setAttribute("disabled", "true")
        console.log(res)
        if(res.ok) {
            let data = await res.json()
            loading.innerText = ""
            console.log(data.users)
            // for()
            while(results.firstChild){
                results.removeChild(results.lastChild)
            }
            if(data.users.length < 1){
                loading.innerText = "No user matched"
                loading.setAttribute("class", "text-xl py-2 text-red-600")    
            }
            for(i of data.users){
                each_element = document.createElement("div")
                each_name = document.createElement("p")
                each_email = document.createElement("p")
                each_is_paid = document.createElement("p")
                each_button = document.createElement("a")
                each_name.innerText = i.username
                each_name.setAttribute('class', "text-2xl")
                each_element.setAttribute('class', "py-2 rounded-lg bg-white my-4 p-4")
                each_button.setAttribute('href', `/manage-user?id=${i.id}`)
                each_button.setAttribute("class", "text-xl py-2")
                each_button.innerText = "manage"
                each_element.append(each_name)
                each_element.append(each_button)
                results.append(each_element)
            }
        }
        // submit.setAttribute("disabled", "false")
    }
    else{
        alert("You must enter the user's username")
    }
})
</script>
{% endblock %}