{% extends "./base.html"%}
{% block title %}Affliate Market{% endblock %}
{% block content%}
<div>
        <div >
            {% if products %}
                <p class="text-yellow-500 md:text-2xl sm:text-xl hero-title text-center">All <span class="border-b-2 text-blue-900 border-yellow-500">Products</span> for Affliates</p>
            {% endif %}    
        </div>
            <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
                {% for _product in products %}
                    <div product_id="{{_product.id}}"class="market p-2 cursor-pointer my-3 m-2 rounded-lg  text-black dark:text-white sm:mt-2 shadow-md bg-white dark:bg-gray-700 center-grid justify-center content-center eachProject">
                        {% if _product.thumbnail %}
                        <img class="hover:filter blur-md w-full h-24 md:h-48" src="{{_product.thumbnail }}" alt="cbt app">
                        {% else %}
                        <img class="hover:filter blur-md" src="/static/cart.svg" alt="cbt app">
                        {% endif %}
                        <p class="font-bold sm:text-lg md:text-xl p-1 md:p-2">{{_product.title}}</p>
                        <p class="md:mt-2 sm:mt-1 p-2">
                        {% if _product.price %}
                            <p class="market_prices" amount="{{ _product.price }}?{{ _product.old_price }}?{{ _product.currency }}"> ₦{{ _product.price }} - <span class="text-red-600 line-through">₦{{_product.old_price}}</span> <span class="rounded-lg shadow px-2 py-1 bg-red-500 text-red-100"><span class="price-off ">{{100 - ((_product.price / _product.old_price) * 100)}}</span>% off! </span></p>
                        {% else %}
                            <span class="rounded-lg shadow px-2 py-1 bg-green-500 text-green-100">Free</span>
                        {% endif %}
                            <!-- <span>{{_product.price}} </span>   -->
                        </p>    
                    </div>
                {% endfor %}
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-71cd6ef2-6f2b-494a-b49f-3793041a32d2"></div>
            </div>
<script>
    $(".market").click(function(){
        let product_id = $(this).attr("product_id")
        window.location.href = `/product/${product_id}`
    })

    
    const FOREX = JSON.parse("{{currency_rate}}".replaceAll("&#39;", '"'))
    const currency_rate = (BASE_CUR, TO_CUR) => {
        let to_rate = FOREX[TO_CUR]
        let base_rate = FOREX[BASE_CUR]
        euro = 1 / base_rate
        amount = euro * to_rate
        return amount
    }

    $(".market_prices").each(function(index, elem){
        let attr = $(elem).attr("amount").split("?");
        let currency = attr[2]
        let currency_spent = "{{ currency_spent }}" 
        console.log(attr, currency, currency_spent)
        let rate = currency_rate(currency, currency_spent );
        let new_price = (parseFloat(attr[0]) * rate).toFixed(2);
        let old_price = (parseFloat(attr[1] ) * rate).toFixed(2);
        let perc = 100 - ((new_price / old_price) * 100).toFixed(2)

        $(elem).html(`
        ${new_price} <b>{{ currency_spent }}</b> - <span class="text-red-600 line-through">${old_price} <b>{{ currency_spent }}</b></span> <span class="rounded-lg shadow px-2 py-1 bg-red-500 text-red-100"><span class="price-off ">${perc}</span>% off! </span>
        `)

    })

</script>
{% endblock %}