{% extends "./base.html"%}
{% block title %}Add items{% endblock %}
{% block content%}

<div class="bg-gray-200 py-2 h-full px-2 md:px-24 mheight">
       <p class="text-2xl">Welcome {{ current_user.username }}</p> 
    <form id="postForm" method="post" enctype="multipart/form-data">
        <input class="border-2 placeholder-text-md border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2 "  placeholder="Product's title" name="title" value="{% if product.title %}{{ product.title }}{% endif %}"><br>
        {{ ckeditor.create(value=product.description|safe) }}
        
        <input value="{% if product.old_price %}{{ product.old_price }}{% endif %}" class="border-2 placeholder-text-md border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2 " name="old_price" type="text" placeholder="Old price" id="subject"><br>
        <input value="{% if product.price %}{{ product.price }}{% endif %}" class="border-2 placeholder-text-md border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2 " name="new_price" type="text" placeholder="New price" id=""><br>
        
        <select name="currency" class="border-2 border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2" id="" required>
            <option value="{{ currency }}">-- SELECT YOUR CURRENCY --</option>
            {% for currency in ACCEPTED_CURRENCIES %}
                <option value="{{ currency }}" {% if product.currency == currency %} selected {% endif %}>{{ currency }}</option>
            {% endfor %}
        </select>

        <p>Support group</p>
        <input type="text" name="support_link" id="" class="border-2 placeholder-text-md border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2 " type="text" placeholder="Support link"  value="{% if product.support_link %}{{ product.support_link }}{% endif %}">
        
        <p>Whatsapp Number for customer's support</p>
        <input type="number" name="whatsapp_support" id="" class="border-2 placeholder-text-md border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2 " type="text" placeholder="Enter your whatsapp support number (optional) eg. 234812726323"  value="{% if product.whatsapp_support %}{{ product.whatsapp_support }}{% endif %}">
        
        
        <div id="photo_div">
            <p>Upload the product image(s)</p>
            <input type="file" name="picture1" id="">
        </div>

        <select name="affliate" id="affliate" class="border-2 border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2" id="" required>
            <option value="">Do you want to accept affliate</option>
            <option value="yes" {% if product.accept_affliate %} selected {% endif %}>Yes</option>
            <option value=""{% if not product.accept_affliate %} selected {% endif %}>No</option>
        </select>

        <div id="affliate_input" {% if not product.accept_affliate %} class="hidden" {% endif %}>
            <input value="0" class="border-2 placeholder-text-md border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2 " name="affliate_commission" type="number" min="0" max="100" placeholder="Enter affliate commission" id="affliate_commission" value="{% if product.affliate_commission %}{{ product.affliate_commission }}{% endif %}"><br>
        </div>

        <select name="product_type" id="product_type" class="border-2 border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2" id="" required>
            <option value="">Select the product type</option>
            <option value="course" {% if product.product_type == "course" %} selected {% endif %} >course</option>
            <option value="Software" {% if product.product_type == "Software" %} selected {% endif %}>Software</option>
        </select>
        
        <div id="course_container" {% if product.product_type != "course" %} class="hidden" {% endif %}>
            <input class="border-2 placeholder-text-md border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2 " name="course_link" type="text" placeholder="course link" id="" value="{% if product.course_link %}{{ product.course_link }}{% endif %}"><br>
            <input class="border-2 placeholder-text-md border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2 " name="course_preview_link" type="text" placeholder="course preview link" id="" value="{% if product.course_preview_link %}{{ product.course_preview_link }}{% endif %}"><br>
        </div>
        
        
        <div id="software_container" {% if product.product_type != "Software" %}  class="hidden" {% endif %} >
            <input class="border-2 placeholder-text-md border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2 " name="youtube_link" type="text" placeholder="youtube link" id=""><br>
            <div>
                <p>Upload the soft product's demo (optional)</p>
                <input type="file" name="demo_product" id="">
            </div>
            <div>
                <p>Upload the soft product</p>
                <input type="file" name="product" id="">
            </div>
            <br>
        </div>
        <br>
        <button  class="bg-gray-500 hover hover:bg-gray-700 shadow-sm:hover text-white p-1 rounded-lg sm:mt-1 md:mt-2 md:py-2 md:px-8 sm:py-2 sm:px-4 sm:text-sm md:text-lg w-full">Edit product</button>
    </form>

    <button id="add_picture">+ Add Pictures</button>
    <button id="clear_picture">+ Clear Pictures</button>
</div>
      <script>
          let currentPictures = 1
          $("#add_picture").click(function(){
                currentPictures++
                $("#photo_div").append(`<input type='file' name='picture${currentPictures}'>`)
          })
          $("#clear_picture").click(function(){
                currentPictures = 1;
                $("#photo_div").empty()
                $("#photo_div").append(`<input type='file' name='picture${currentPictures}'>`)
          })

        let mailFunc = async () =>{
            let mail_message = document.getElementById("mail_messages").value
            let subject = document.getElementById("subject").value
            let user = document.getElementById("user").value
            let mail_info = document.getElementById("mail_info")
            
            mail_info.innerText = "Loading..."
            mail_info.setAttribute("class", "text-xl text-gray-600 py-3 block")
            if(mail_message && user && subject){
                const send_mail = await fetch('/mail-users', {
                    method: 'POST',
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({user, subject, mail: mail_message})
                });
                const mail_res = await send_mail.json();
                mail_info.innerText = ""
                // console.log(mail_res);
                if(mail_res.ok){
                    mail_info.innerText = "You have successfully sent the mail(s)"
                    mail_info.setAttribute("class", "text-xl text-green-600 py-3 block")
                }   
                else{
                    mail_info.innerText = "Ooops! Mail failed"   
                    mail_info.setAttribute("class", "text-xl text-red-600 block py-3") 
                }
            }
            else{
                mail_info.innerText = "Do not leave any field empty"
                mail_info.setAttribute("class", "text-xl text-red-600 py-3 block")
            }
        }

        
    
        $("#product_type").change(function(){
            let type = $(this).val() 
            if(type == "course"){
                $("#course_container").show()
                $("#software_container").hide()
            }
            else{
                $("#course_container").hide()
                $("#software_container").show()

            }
        })

        window.addEventListener("load", 
            $("#affliate").change(function(){
                let type = $(this).val() 
                if(type == "yes"){
                    $("#affliate").after(`
                    <div id="affliate_input">
                        <input class="border-2 placeholder-text-md border-gray-500 py-1 px-1 md:rounded-lg w-full mt-2 mb-2 md:py-2 " name="affliate_commission" type="number" min="0" max="100" placeholder="Enter affliate commission" required id="affliate_commission"><br>
                    </div>
                    `)
                }
                else{
                    $("#affliate_input").remove()
                }
            })
        )
    </script>
    {{ ckeditor.load() }}
{% endblock %}