{% extends "./base.html"%}
{% block title %}Reset password{% endblock %}
{% block content%}
<div class="bg-gray-200 h-full md:px-24 sm:px-4 pt-8 mheight">
    {% from "_formhelpers.html" import render_field %}
        <form method="post">
            {{ form.csrf_token }}
            <dl>
                {{ render_field(form.password, class="border-2 border-green-200 focus:outline-red-300 placeholder-green-100 p-1 rounded-sm mt-2 sm:w-full md:w-lg", placeholder="your e-mail") }}
                {{ render_field(form.confirm_password, class="border-2 border-green-200 focus:outline-red-300 placeholder-green-100 p-1 rounded-sm mt-2 sm:w-full md:w-lg", placeholder="your e-mail") }}
            </dl>
            {{ form.submit(class="bg-green-200 hover:bg-green-400 text-green-500 hover:text-green-200 p-1 rounded-sm mt-2 sm:w-full md:w-lg") }}
        </form>
    {% endblock %}
</div>
