{% extends "./base.html"%}
{% block title %}Dataslid Marketplace{% endblock %}
{% block content%}
<!-- <div> -->
    <style>
        body{
            background-color: white;
        }
    </style>
    <div class="md:h-screen sm:block bg-white sm:px-1 md:px-4 md:mt-4">
        <div class="block md:flex ">    
            <div class="mt:2 md:mt-24 p-2 md:p-4 ">
                <h1 class="text-gray-700 font-semibold text-3xl md:text-5xl  hero-title"><span class="text-yellow-500">Dataslid</span> Marketplace</h1>
                <p class="text-blue-900 py-3  text-lg md:text-xl font-normal">
                    This is the Official Store for Dataslid Tech youtube channel. You can get all the software talked about on the channel here.
                </p>
                <div class="flex">
                    <a href="/market" class="rounded-sm bg-yellow-500 text-md py-2 px-4 rounded-lg md:rounded-2xl text-white md:text-xl md:py-4 md:px-8">Enter Market</a>
                </div>
            </div>
            <div>
                <img src="static/hero.svg" class="md:block sm:hidden" alt="" srcset="">
            </div>
        </div>
        </div>
        
        <div>
            <p class="text-yellow-500 text-xl md:text-2xl hero-title text-center">Our <span class="border-b-2 text-blue-900 border-yellow-500">Products</span></p>            
            <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
                {% for _product in products %}
                    <div product_id="{{_product.id}}"class="market p-2 cursor-pointer my-3 m-2 rounded-lg  text-black dark:text-white sm:mt-2 shadow-md bg-white dark:bg-gray-700 center-grid justify-center content-center eachProject">
                        {% if _product.thumbnail %}
                        <img class="hover:filter blur-md w-full h-24 md:h-48" src="{{_product.thumbnail }}" alt="cbt app">
                        {% else %}
                        <img class="hover:filter blur-md" src="/static/cart.svg" alt="cbt app">
                        {% endif %}
                        <p class="font-bold sm:text-lg md:text-xl p-1 md:p-2">{{_product.title}}</p>
                        <p class="md:mt-2 sm:mt-1 p-2">
                        {% if _product.price %}
                            <p> ₦{{ _product.price }} - <span class="text-red-600 line-through">₦{{_product.old_price}}</span> <span class="price-off">{{100 - ((_product.price / _product.old_price) * 100)}}</span>% off! </p>
                        {% else %}
                            <span class="rounded-lg shadow px-2 py-1 bg-green-500 text-green-100">Free</span>
                        {% endif %}
                        </p>    
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-71cd6ef2-6f2b-494a-b49f-3793041a32d2"></div>
</div>

<script>
    $(".market").click(function(){
        let product_id = $(this).attr("product_id")
        window.location.href = `/product/${product_id}`
    })
</script>
{% endblock %}