{% extends "./base.html"%}
{% block title %}Marketplace{% endblock %}
{% block content%}
<div>
        <div >
            {% if products %}
                <p class="text-yellow-500 md:text-2xl sm:text-xl hero-title text-center">All <span class="border-b-2 text-blue-900 border-yellow-500">Products</span></p>
            {% endif %}    
        </div>
            <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
                {% for _product in products %}
                    <div product_id="{{_product.id}}"class="market p-2 cursor-pointer my-3 m-2 rounded-lg  text-black dark:text-white sm:mt-2 shadow-md bg-white dark:bg-gray-700 center-grid justify-center content-center eachProject">
                        {% if _product.thumbnail %}
                        <img class="hover:filter blur-md w-full h-24 md:h-48" src="{{_product.thumbnail }}" alt="cbt app">
                        {% else %}
                        <img class="hover:filter blur-md" src="/static/cart.svg" alt="cbt app">
                        {% endif %}
                        <p class="font-bold sm:text-lg md:text-xl p-1 md:p-2">{{_product.title}}</p>
                        <p class="md:mt-2 sm:mt-1 p-2">
                        {% if _product.price %}
                            <p> ₦{{ _product.price}} - <span class="text-red-600 line-through">₦{{_product.old_price}}</span> <span class="rounded-lg shadow px-2 py-1 bg-red-500 text-red-100"><span class="price-off ">{% if _product.price and _product.old_price %} {{100 - ((_product.price / _product.old_price) * 100)}} {% endif %}</span> % off! </span></p>
                        {% else %}
                            <span class="rounded-lg shadow px-2 py-1 bg-green-500 text-green-100">Free</span>
                        {% endif %}
                            <!-- <span>{{_product.price}} </span>   -->
                        </p>    
                    </div>
                {% endfor %}
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-71cd6ef2-6f2b-494a-b49f-3793041a32d2"></div>
            </div>
<script>
    $(".market").click(function(){
        let product_id = $(this).attr("product_id")
        window.location.href = `/product/${product_id}`
    })
</script>
{% endblock %}