{% extends "./base.html"%}
{% block title %}Product{% endblock %}
{% block content%}
<div>
    <div class ="grid product-page bg-white shadow rounded-lg p-1 p-4 ">
        <div>
            <div>
                <div class="flex-shrink">
                    <img src="{{product.thumbnail}}" class="w-full" alt="">
                </div>
                <br>
            </div>
        </div>
        <div class="ml-4">
                <p class="text-2xl"><b>{{ product.title}}</b></p>
                <div class="mt-2">
                {% if product.youtube_link %}
                    <div class="my-2">
                        <iframe src="{{product.youtube_link}}" frameborder="0" class="w-full md:w-3/5 h-48 md:h-64 m-auto"></iframe>
                    </div>
                {% endif %}
                <!-- <p class="text-xl"><i><b>description</b></i></p> -->
                <p class="my-3">{{ product.description|safe}}</p>
                <br>
                {% if product_price %}
                    <p class="my-3"> {{ product_price }} <b>{{currency_spent}}</b> - <span class="text-red-600 line-through">{{old_price}} <b>{{currency_spent}}</b></span> <span id="price-off">{{100 - ((product_price / old_price) * 100)}}</span>% off! </p>
                {% else %}
                    <span class="rounded-lg shadow px-2 py-1 bg-green-500 text-green-100">Free</span>
                {% endif %}
                    {% if product.product_type == "course" %}
                        {% if product.course_preview_link %}
                            <div class="my-2">
                                <iframe src="{{ product.course_preview_link }}" frameborder="0" class="w-full md:w-3/5 h-48 md:h-64 m-auto"></iframe>
                            </div>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <!-- <div class="inline-block"><form id="buyNow" action="/paystack" method="post"><input type="hidden" name="data" id="formdata"><button class="text-white bg-yellow-500 px-2 py-1 rounded-md shadow">Get Course Now!</button></form></div> -->
                            <!-- <form> -->
                                <button class="text-white bg-yellow-500 px-2 py-1 rounded-md shadow" type="button" id="start-payment-button" onclick="makePayment()">Pay Now</button>
                              <!-- </form> -->
                        {% else %}
                            <button id="buyNow" class="text-white bg-yellow-500 px-2 py-1 rounded-md shadow">Pay Now</button>
                        {% endif %}
                            
                        <!-- <button type="pay" bool="" btn_id="{{ product.id}}" data="{{ product.title}}?{{ product_price}}?{{ product.id}}?{{ product.thumbnail}}" class="buy text-white bg-yellow-500 px-2 py-1 rounded-md" id="buy" >Add to Cart</button> -->
                    {% else%}
                        {% if user_purchased.user_id == current_user.id and user_purchased.product_id == product.id %}
                        <a href="{{product.download_link}}" class="buy text-white bg-yellow-500 px-2 py-1 rounded-md hover:bg-white hover:text-yellow-500 border-2 border-yellow-500">Download</a>
                        {% else %}
                            {% if not product_price %}
                                {% if product.demo_link %}
                                    <a href="{{product.demo_link}}" class="buy text-white bg-yellow-500 px-2 py-1 rounded-md"> Free download</a>
                                    <button type="free" bool=""  btn_id="{{ product.id}}" class="buy text-white bg-yellow-500 px-2 py-1 rounded-md" >Free</button>
                                {% endif %}
                            {% else %}
                            {% if current_user.is_authenticated %}
                                <!-- <div class="inline-block"><form id="buyNow" action="/paystack" method="post"><input type="hidden" name="data" id="formdata"><button class="text-white bg-yellow-500 px-2 py-1 rounded-md shadow">Buy Now</button></form></div> -->
                                <!-- <form> -->
                                    <!-- </form> -->
                                    <button class="text-white bg-yellow-500 px-2 py-1 rounded-md shadow" type="button" id="start-payment-button" onclick="makePayment()">Pay Now</button>
                            {% else %}
                                <button id="buyNow" class="text-white bg-yellow-500 px-2 py-1 rounded-md shadow">Pay Now</button>
                            {% endif %}
                                <!-- <button type="pay" bool="" btn_id="{{ product.id}}" data="{{ product.title}}?{{ product_price}}?{{ product.id}}?{{ product.thumbnail}}" class="buy text-white bg-yellow-500 px-2 py-1 rounded-md" id="buy" >buy</button> -->
                                {% if product.demo_link %}
                                    <a href="{{product.demo_link}}" class="buy text-white bg-yellow-500 px-2 py-1 rounded-md">Demo</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
            
                    {% endif %}

                        {% if current_user.is_authenticated %}
                            {% if current_user.id == product.store.user.id %}    
                                <a href="../edit-item/{{ product.id }}">Edit product</a>
                            {% endif %}
                        {% endif %}
                {% if current_user.currency %}
                    {% if current_user.is_authenticated and product.accept_affliate %}
                    <div>
                        <br>
                        <br>
                        <p class="text-lg"><u><b>Affliate System</b></u></p>
                        <p> Your link referral link for this product is <span class="text-lg"><b>www.helpbotics.com{{ url_for(request.endpoint, pk=product.id, ref=current_user.id) }}.</b></span></p>
                        <p>you will make a whooping {{ product.affliate_commission }}% commission on every successful sales you bring in which amounts to {% if product_price %} {{ product_price * (product.affliate_commission / 100) }} <b>{{ currency_spent }}</b> {% endif %} for each sales.</p>
                        <br>
                    </div>

                    {% endif %}
                {% else %}
                <div class="mt-3 mb-4">
                    <p><b><i><a href="{{url_for('user_settings')}}">click to Update your financial details to join the affliate program</a></i></b></p>
                    <p><b><i><a href="{{url_for('affliate_market')}}">click to see products up for affliate marketing</a></i></b></p>
                </div>
                {% endif %}
                <br>
                {% if product.whatsapp_support %}
                    <p class="mb-4">Chat us on whatsapp via this link <b><a href="https://wa.me/{{product.whatsapp_support}}">https://wa.me/{{product.whatsapp_support}}</a></b></p>
                {% endif %}
                <br>
                <br>
            </div>
            </div>
        </div>
        <div >
            {% if products %}
            <p class="text-yellow-500 my-3 text-2xl md:text-2xl hero-title text-center">related <span class="border-b-2 text-blue-900 border-yellow-500">Products</span></p>
        {% endif %}    
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
        {% for _product in products %}
            <div product_id="{{_product.id}}"class="market p-2 cursor-pointer my-3 m-2 rounded-lg  text-black dark:text-white sm:mt-2 shadow-md bg-white dark:bg-gray-700 center-grid justify-center content-center eachProject">
                {% if _product.thumbnail %}
                <img class="hover:filter blur-md w-full md:h-48" src="{{_product.thumbnail }}" alt="cbt app">
                {% else %}
                <img class="hover:filter blur-md" src="/static/cart.svg" alt="cbt app">
                {% endif %}
                <p class="font-bold sm:text-lg md:text-xl p-1 md:p-2">{{_product.title}}</p>
                <p class="md:mt-2 sm:mt-1 p-2">
                {% if _product.price %}
                <p class="market_prices" amount="{{ _product.price }}?{{ _product.old_price }}?{{ _product.currency }}"> ₦{{ _product.price }} - <span class="text-red-600 line-through">₦{{_product.old_price}}</span> <span class="rounded-lg shadow px-2 py-1 bg-red-500 text-red-100"><span class="price-off ">{{100 - ((_product.price / _product.old_price) * 100)}}</span>% off! </span></p>
                {% else %}
                    <span class="rounded-lg shadow px-2 py-1 bg-green-500 text-green-100">Free</span>
                {% endif %}
                </p>    
            </div>
        {% endfor %}
    
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-71cd6ef2-6f2b-494a-b49f-3793041a32d2"></div>
        </div>
<script>
    const FOREX = JSON.parse("{{currency_rate}}".replaceAll("&#39;", '"'))
    
    let priceCut = $('#price-off').text()
    priceCut = parseInt(priceCut).toFixed(0)
    $('#price-off').text(priceCut)
    
    $(".market").click(function(){
        let product_id = $(this).attr("product_id")
        window.location.href = `/product/${product_id}`
    })

    $("#buy").click(function(){
        let bool = $(this).attr("bool")
        if(!bool){
            let price, title, type, _id;
            let get_cart = localStorage.getItem("cart")
            if(!get_cart) {
                get_cart = []
            }
            else{
                get_cart = JSON.parse(get_cart)
            }
            
            let info = $(this).attr("data")
            type = $(this).attr("type")
            
            if(typeof info === "string"){
                info = info.split("?")
                title = info[0];
                price = info[1];
                _id = info[2];
                thumbnail = info[3];
                
                let referral = "{{referral}}"
                let data = {'id': _id, "type": type, "price": price, "title": title, "thumbnail": thumbnail, "currency": "{{currency_spent}}"}
                if (referral != "None") data.referral = referral
                console.log(data)
                get_cart.push(data)

                cartPopup(`{{ product.title }} Cart added`)
                // $("#cart_number").text(get_cart.length)
                localStorage.setItem("cart", JSON.stringify(get_cart))
                updateCartNumber()
            }
            
            console.log(get_cart)
            $(this).attr("bool", "True")
            // alert(false)
            $(this).attr("class", "buy text-yellow-500 bg-white border-2 border-yellow-500 px-2 py-1 rounded-md")
            // filterButtons()
            
        }
        else{
            $(this).attr("bool", "")
                $(this).attr("class", "buy text-white bg-yellow-500 px-2 py-1 rounded-md")
            
                let get_cart = localStorage.getItem("cart")
                if(!get_cart) {
                    get_cart = []
                }
                else{
                    get_cart = JSON.parse(get_cart)
                }
                let btn_id = $(this).attr("btn_id")
                let type = $(this).attr("type")

                get_cart = get_cart.filter((element) => element.id !== btn_id && element.type !== type )
                localStorage.setItem("cart", JSON.stringify(get_cart))
                updateCartNumber()
        
        }
        
        // else{
        //     filterButtons()    
        // }
    })
    
    let cartPopup = (message) => {
        $("section").prepend(
            // <div id="popup" class="z-100 flex h-screen w-full absolute bg-gray-200 popup-style items-center justify-center ">
            ` <div id="cartPopup" style=" top: 80px; width: 40%; float: right; position: fixed" class="bg-green-500 rounded-xl p-2 mr-2 border-2">
                    <div class="flex">
                        <p class="text-md text-white">${message}</p>
                        <span id="closeCartPopup" class="cursor-pointer text-2xl text-red-600 -mt-1 ml-4 ">&times;</span>
                    </div>
                </div>
                `
        )



        let closePopupBtn = document.getElementById("closeCartPopup")
        closePopupBtn.addEventListener("click", closeCartPopup)
        let int = 2
        let intervalId = setInterval(() => {
            $("#cartPopup").addClass(`opacity-${int * 10 }`)
            if(int == 0){
                clearInterval(intervalId)
                $("#cartPopup").remove()
            } 
            $("#cartPopup").removeClass(`opacity-${int * 10 }`)
            int--
        }, 1000);
    
    
    }


    const currency_rate = (BASE_CUR, TO_CUR) => {
        let to_rate = FOREX[TO_CUR]
        let base_rate = FOREX[BASE_CUR]
        euro = 1 / base_rate
        amount = euro * to_rate
        return amount
    }

    $(".market_prices").each(function(index, elem){
        let attr = $(elem).attr("amount").split("?");
        let currency = attr[2]
        let currency_spent = "{{ currency_spent }}" 
        console.log(attr, currency, currency_spent)
        let rate = currency_rate(currency, currency_spent );
        let new_price = (parseFloat(attr[0]) * rate).toFixed(2);
        let old_price = (parseFloat(attr[1] ) * rate).toFixed(2);
        let perc = 100 - ((new_price / old_price) * 100).toFixed(2)

        $(elem).html(`
        ${new_price} <b>{{ currency_spent }}</b> - <span class="text-red-600 line-through">${old_price} <b>{{ currency_spent }}</b></span> <span class="rounded-lg shadow px-2 py-1 bg-red-500 text-red-100"><span class="price-off ">${perc}</span>% off! </span>
        `)

    })


    // $(".buy").each(function(index){
    //     $(this).click(function(){
    //         let bool = $(this).attr("bool")
    //         if(!bool){
    //             let price, title, type, _id;
    //             let get_cart = localStorage.getItem("cart")
    //             if(!get_cart) {
    //                 get_cart = []
    //             }
    //             else{
    //                 get_cart = JSON.parse(get_cart)
    //             }
                
    //             let info = $(this).attr("data")
    //             type = $(this).attr("type")
                
    //             if(typeof info === "string"){
    //                 info = info.split("?")
    //                 title = info[0];
    //                 price = info[1];
    //                 _id = info[2];
    //                 thumbnail = info[3];
    //                 let data = {'id': _id, "type": type, "price": price, "title": title, "thumbnail": thumbnail}
    //                 get_cart.push(data)
    //                 $("#cart_number").text(get_cart.length)
    //                 localStorage.setItem("cart", JSON.stringify(get_cart))
    //             }
                
    //             console.log(get_cart)
    //             $(this).attr("bool", "True")
    //             // alert(false)
    //             $(this).attr("class", "buy text-yellow-500 bg-white border-2 border-yellow-500 px-2 py-1 rounded-md")
    //             // filterButtons()
                
    //         }
    //         else{
    //             filterButtons()    
    //         }
    //      })
    // })
    
    // function filterButtons(){
    //     $(".buy").each(function(index){
    //         if($(this).attr("bool")){
    //             $(this).attr("bool", "")
    //             $(this).attr("class", "buy text-white bg-yellow-500 px-2 py-1 rounded-md")
            
    //             let get_cart = localStorage.getItem("cart")
    //             if(!get_cart) {
    //                 get_cart = []
    //             }
    //             else{
    //                 get_cart = JSON.parse(get_cart)
    //             }
    //             let btn_id = $(this).attr("btn_id")
    //             let type = $(this).attr("type")

    //             get_cart = get_cart.filter((element) => element.id !== btn_id && element.type !== type )
    //             $("#cart_number").text(get_cart.length)
    //             localStorage.setItem("cart", JSON.stringify(get_cart))
    
    //         }
    //     })    
    // }

    $("#buyNow").click(function(){
        let referral = "{{referral}}"
        if(referral && referral != "None" ){
            window.location.href = `/signup?next=/product/{{ product.id }}?ref=${referral}`    
        } else {
            window.location.href = `/signup?next=/product/{{ product.id }}`
        }
    })

    let promptPopup = (subject) => {
        $("body").prepend(
            `<div id="popup" class="z-100 flex h-screen w-full absolute  bg-gray-200 popup-style items-center justify-center ">
                <div class="bg-white rounded-xl opacity-100 p-2 m-2 mx-4">
                    <span id="closePopup" class="cursor-pointer text-2xl text-red-600 float-right">&times;</span>
                    <div class="ml-2">
                        <p class="font-bold mb-2 text-lg">${subject}</p>
                        <input class="w-full px-2 py-1 my-1 border-2 border-gray-900" id="promptBox" placeholder="Enter your email" type="email" required/>
                        
                        <div class="float-right mt-3">
                            <button class="border-2 border-gray-500 rounded-md px-2 py-1 hover:bg-gray-100 text-gray-700 text-sm mr-1" id="cancelBtn">Cancel</button>
                            <button class="border-2 border-red-500 bg-red-500 text-white rounded-md px-2 py-1 hover:bg-red-600 text-sm mr-1" id="confirmPrompt">Ok</button>
                            </div>
                            </div>
                            </div>
                            </div>
                            `
                            )
                            
                            $("#cancelBtn").click(function(){
                                closePopup()    
                            })
                            
                            let closePopupBtn = document.getElementById("closePopup")
                            closePopupBtn.addEventListener("click", closePopup)
                            popupCloser()
                            
                            function validateEmail(email) {
                                if(!email) return false
                                const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                                return re.test(String(email).toLowerCase());
                            }
                            
                            let emailListFunc = async (emailId) => {
                                let email = $(emailId).val()
                                let emailTest = validateEmail(email)
                                if(!emailTest){
                                    errorPopup("Email is empty or not valid")
                                    return
                                }

                                const join_list = await fetch('/subscribe-to-mail', {
                                    method: 'POST',
                                    headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({email})
                                });
                                const listResponse = await join_list.json();
                                
                                $("#emailInput").val("")
                                
                                if(listResponse.ok){
                                    successPopup()
                                    localStorage.setItem("subscribed", true)
                                }
                                    
                            }

                            $("#confirmPrompt").click(function(){
                                // let email = promptPopup("Confirm")
                                let email = $("#promptBox").val()
                                let isValid = validateEmail(email)
                                if(isValid){
                                    emailListFunc("#promptBox")
                                    // insertObjectToCart()
                                    // let _data = localStorage.getItem("cart");
                                    // window.location.href = `/paystack?email=${email}&data=${_data}`
                                    // closePopup();
                                } 
                                else {
                                    alert("Invalid E-mail")
                                }
                            })
                        }
                        
    let closePopup = () => {
    $("#popup").remove()
}

    function popupCloser(){
        let popupDiv = document.getElementById("popup")
        window.onclick = function(event) {
            if (event.target == popupDiv) {
                popupDiv.style.display = "none";
            }
        }
    }


    $("#buyNow").submit(function(e){
        insertObjectToCart()
        let _data = localStorage.getItem("cart");
        $("#formdata").val(_data)
    })

    function insertObjectToCart(){
        let get_cart = []
        let price, title, type, _id;
        let info  ="{{ product.title}}?{{ product_price}}?{{ product.id}}?{{ product.thumbnail}}"
        info = info.split("?")
        title = info[0];
        price = info[1];
        _id = info[2];
        thumbnail = info[3];
        
        let referral = "{{referral}}"
        let seller_id = "{{product.store.user.id}}"
        let data = {'id': _id, "seller_id": seller_id, "buyer_id": "{{ current_user.id }}", "type": type, "price": price, "title": title, "thumbnail": thumbnail, "currency": "{{currency_spent}}"}
        if(referral != "None") data.referral = referral
        get_cart.push(data)


        cartPopup(`{{ product.title }} Cart added`)
        // $("#cart_number").text(get_cart.length)
        localStorage.setItem("cart", JSON.stringify(get_cart))
        updateCartNumber()
    }
</script>
<script src="https://checkout.flutterwave.com/v3.js"></script>
<script>
  async function makePayment() {
    url = "{{ url_for('initiate_transaction')}}"
    insertObjectToCart()
    let data = localStorage.getItem("cart");
    var formData = new FormData()
    formData.append("data", data)    
                
    const request = await fetch(url, {
        method: 'POST',
        body: formData
    });

    const response = await request.json();
    let ref = response.ref
    // console.log(response.ref)

    FlutterwaveCheckout({
      public_key: "FLWPUBK-462136dd2325f9137f9fba2c95b505ae-X",
      tx_ref: ref,
      amount: Number("{{product_price}}"),
      currency: "{{ currency_spent }}",
      payment_options: "card, banktransfer, ussd",
      redirect_url: "{{url_for('payment_success_page')}}",
      customer: {
        email: "{{current_user.email}}",
        phone_number: "{{current_user.phone}}",
        name: "{{current_user.name}}",
      },
      customizations: {
        title: "Helpbotics",
        description: "Payments for courses and softwares",
        logo: "https://helpbotics.com/static/logo.png",
      },
    });
  }
</script>
{% endblock %}