{% extends "./base.html"%}
{% block title %}login{% endblock %}
{% block content%}
<div class="md:bg-gray-200 sm:bg-gray-200 py-4 h-full sm:px-4 md:px-64 mheight">
    <input type="text" class="border-2 placeholder-text-lg border-gray-500 rounded-lg md:w-5/5 sm:3/5 px-4 mt-1 mb-2 md:py-4 sm:py-2 sm:px-2 sm:w-full md:w-lg", id="email" placeholder="your e-mail">
    <button id="submit" class="bg-gray-500 hover hover:bg-gray-700 shadow-sm:hover text-white p-1 rounded-lg sm:mt-2 md:mt-2 md:py-4 md:px-8 sm:py-2 sm:px-4 sm:text-md md:text-lg sm:w-full mt-2 md:w-lg">Submit</button>
    <p id="mail_info" class="sm:text-md md:text-xl text-red-600 py-3 hidden"></p>
  <!-- </form> -->
  <a href="/signup" class="text-right float-right sm:text-md md:text-xl text-green-900">Sign up</a>
  <a href="/login" class="text-center text-green-900 sm:text-md md:text-xl">Log in</a>  
</div>
<script>
let mailFunc = async () =>{
        let email = document.getElementById("email").value
        let mail_info = document.getElementById("mail_info")
        
        mail_info.innerText = "Loading..."
        mail_info.setAttribute("class", "sm:text-md md:text-xl text-gray-600 sm:py-1 md:py-3 block")
        if(email){
            const send_mail = await fetch('/reset-password', {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({email})
            });
            const mail_res = await send_mail.json();
            mail_info.innerText = ""
            console.log(mail_info)    
            if(mail_res.ok){
                mail_info.innerText = mail_res.msg
                mail_info.setAttribute("class", "sm:text-md md:text-xl text-green-600 sm:py-1 md:py-3 block")
                window.location.href = `${window.location.origin}/enter-reset-password`
             }   
            else{
                mail_info.innerText = mail_res.msg   
                mail_info.setAttribute("class", "sm:text-md md:text-xl text-red-600 block sm:py-1 md:py-3") 
            }
        }
        else{
            mail_info.innerText = "Do not leave any field empty"
            mail_info.setAttribute("class", "sm:text-md md:text-xl text-red-600 sm:py-1 md:py-3 block")
        }
    }

    document.querySelector("#submit").addEventListener("click", mailFunc)
        
          
</script>
{% endblock %}