{% extends "./base.html"%}
{% block title %}Home{% endblock %}
{% block content%}
<div class="w-full">
    <p class="text-yellow-500 md:text-2xl sm:text-xl hero-title text-center">Our <span class="border-b-2 text-blue-900 border-yellow-500">Products</span></p>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
            {% for _product in products %}
                <div product_id="{{_product.id}}"class="market p-2 cursor-pointer my-3 w-72 mx-auto md:w-64 rounded-lg  text-black dark:text-white sm:mt-2 shadow-md bg-white dark:bg-gray-700 center-grid justify-center content-center eachProject">
                    {% if _product.thumbnail %}
                    <img class="hover:filter blur-md w-full h-24 md:h-48" src="{{_product.thumbnail }}" alt="cbt app">
                    {% else %}
                    <img class="hover:filter blur-md" src="/static/cart.svg" alt="cbt app">
                    {% endif %}
                    <p class="font-bold sm:text-lg md:text-xl p-1 md:p-2">{{_product.title}}</p>
                    <p class="md:mt-2 sm:mt-1 p-2">
                    <p> ₦{{ _product.price}} - <span class="text-red-600 line-through">₦{{_product.old_price}}</span> <span class="rounded-lg shadow px-2 py-1 bg-red-500 text-red-100"><span class="price-off ">{{100 - ((_product.price / _product.old_price) * 100)}}</span>% off! </span></p>
        
                        <!-- <span>{{_product.price}} </span>   -->
                    </p>    
                </div>
            {% endfor %}
        </div>
</div>
</div>

<script>
    $(".market").click(function(){
        let product_id = $(this).attr("product_id")
        window.location.href = `/product/${product_id}`
    })
</script>
{% endblock %}