{% extends "./base.html"%}
{% block title %}login{% endblock %}
{% block content%}
<div class="md:bg-gray-200 sm:bg-gray-200 py-4 h-full sm:px-4 md:px-64 mheight">
{% from "_formhelpers.html" import render_field %}
<form method="POST" action="/signup">
  {{ form.csrf_token }}
  <dl>
    {{ render_field(form.name, class="border-2 placeholder-text-lg border-gray-500 rounded-lg md:w-5/5 sm:3/5 px-4 mt-1 mb-2 md:py-4 sm:py-2 sm:px-2 sm:w-full md:w-lg", placeholder="your name") }}
    {{ render_field(form.email, class="border-2 placeholder-text-lg border-gray-500 rounded-lg md:w-5/5 sm:3/5 px-4 mt-1 mb-2 md:py-4 sm:py-2 sm:px-2 sm:w-full md:w-lg", placeholder="your e-mail") }}
    {{ render_field(form.phone, class="border-2 placeholder-text-lg border-gray-500 rounded-lg md:w-5/5 sm:3/5 px-4 mt-1 mb-2 md:py-4 sm:py-2 sm:px-2 sm:w-full md:w-lg", placeholder="your phone") }}
    {{ render_field(form.password, class="border-2 placeholder-text-lg border-gray-500 rounded-lg md:w-5/5 sm:3/5 px-4 mt-1 mb-2 md:py-4 sm:py-2 sm:px-2 sm:w-full md:w-lg", placeholder="your password") }}
  </dl>
  {{ form.submit(class="bg-gray-500 hover hover:bg-gray-700 shadow-sm:hover text-white p-1 rounded-lg sm:mt-2 md:mt-2 md:py-4 md:px-8 sm:py-2 sm:px-4 sm:text-md md:text-lg sm:w-full mt-2 md:w-lg") }}
</form>
<a href="/reset-password" class="text-right float-right sm:text-md md:text-xl text-green-900">Forgot password</a>
<a href="/login" class="text-center text-green-900 sm:text-md md:text-xl">Log in</a>
</div>
{% endblock %}